@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header
{
    width: 100%;
    background: #333;
    overflow: auto; 
}

nav.__navigation__
{
    width: 100%;
    height: 45.98px;
    background-color: #333;
    position: fixed;
    text-align: center;
}

ul.__buttons__
{
    list-style-type: none;
}

.__buttons__ li
{
    display: inline-block;
    margin-left: 3%;
    margin-top:  4px;
    padding-bottom: 0;

}

.__buttons__ li a
{
    transform: font-size 0.2s ease;
    display: block;
    padding: 10px;
    padding-top: 12px;
    text-decoration: none;
    background-color: #333;    
    color: white;
}

.__buttons__ li a:hover
{
    transition: 1s;
    background-color:#111;
    color: white;
}

.__buttons__ li a:focus
{
    font-size: 20px;
    background-color:white;
    color: red;
}

.__buttons__ a, p
{
    font-family: "Epilogue";
    font-weight: 900;
}

footer
{
    border-radius: 50px 50px 0px 0px;
    background: #333;
    margin-left: 20%;
    margin-top: 15px;
    bottom: 0;
    width: 60%;
}

footer div p
{
    padding: 10px;
    text-align: center;
    color:white;
    font-size: 24px;
}